@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

h1 {
  font-family: Ubuntu;
  font-weight: bold;
  color: #edefec; 
}

td {
  text-align: left;
}

#contenedorImg {
  width: 90px;
  height: 90px;
}

img {
  width: 100%;
  object-fit: cover;
}

#btnIngresaProducto {
  font-weight: bold;
  color: #eee80d;
  border: 2px solid #eee80d;
}

#btnEditar,
#btnBorrar {
  color: #edefec;
  border: 2px solid #edefec;
  font-weight: bold;
  background-color: #eee80d;
}
