@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #edefec; 
}

#contenedorImg {
  width: 90px;
  height: 90px;
}

#tablaNacionales img, #tablaInternacionales img, #tablaNiños img {
  width: 100%;
  object-fit: cover;
}
#contenedorBtn{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#btnIngresaProducto,#btnElijeTabla, #btnElijeProducto, #inputBuscaProducto{
  font-weight: bold;
  color: #eee80d;
  border: 2px solid #eee80d;
}

#btnEditar,
#btnBorrar {
  color:  #eee80d;
  border: 2px solid  #eee80d;
  font-weight: bold;
  background-color: #474747;
}
