/*hoja de estilo*/

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/*Acerca de nosotros*/
.acercaDNosotros {
  margin-top: 70px;
}
.cajaPerfilesNosotros {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
}
.cajaPerfilesNosotros img {
  border-radius: 50%;
  width: 200px;
}
.titulosAcercaNosotros {
  font-size: 50px;
}
.pAcercaNosostros {
  color: #459394;
  font-size: 1.25em;
}

.bgImagen {
  background-image: url("../img/cancha.png");
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .bgImagen {
    background-image: url("");
  }
}
