/*hoja de estilo*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

.navbar{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;    
    z-index: 1;
    background-color: #474747;
    border-bottom: 4px solid #7babac;
       
}

.foot {
    background-color: #474747;
    font-family: 'Ubuntu', light;
    font-size: small;
    color: #ffff;
}


.foot h3{
    font-size: medium;
    font-family: 'Ubuntu', medium;
}